@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Ubuntu:wght@300&display=swap');

.home {
    height: 100vh;
    background-image: url('../../public/img/home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.home-container {
    display:flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    top: 400px;
}