@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Ubuntu:wght@300&display=swap');

.nav {
    display:flex;
    flex-direction: row;
    position:fixed;
    top: 0;
    margin-top: 0px;
    width: 100%;
    background-color: transparent;
    justify-content: space-between;
    z-index: 9999;
    transition: all .5s ease-in-out;
}

.logo {
    display:flex;
    flex-direction: row;
    align-items: center;
    color: #E1D5D9;
    font-size: 30px;
    font-family: 'Ubuntu';
    margin-left: 10px;
}

.navbar-links {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.navbar-links a {
    color: #E1D5D9;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Ubuntu';
    transition: all .2s ease-in-out;
}

.navbar-links a:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

.profilejoin {
    display:flex;
    flex-direction: row;
    align-items: center;
    color: #E1D5D9;
    gap: 30px;
    margin-right: 40px;
}

.profilejoin a {
    color: #1C252C;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Ubuntu';
    transition: all .2s ease-in-out;
}

.profilejoin a:hover {
    text-decoration: underline;
    transform: scale(1.1);
    color: #1C252C;
}

.join-link {
    background-color: #E1D5D9;
    color:#1C252C;
    padding: 5px 10px;
}

.scrolled {
    background-color: #1C252C;
    transition: all 1.2s ease-in-out;
}